body {
  margin: 0;
  background-color: rgb(218, 218, 216);
}
.App-header {
  text-align: center;
  background-color: #282c34;
  margin: 0;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  text-align: center;
  color: antiquewhite;
  background-color: #282c34;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;

}

.card:last-child{
  margin-bottom: 100px;
}

.footer {
  font-weight: 200;
  font-size: small;
  text-align: center;
  background-color: #282c34;
  margin: 0;
  display: flex;
  justify-content: center;
  color: white;
}

.footer p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}