body {
  margin: 0;
  background-color: rgb(231, 231, 129);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.pokedex {
  width: 300px;
}

.cardBody {
  text-align: center;
}

.btn {
color:white;
width: 100px;
margin: 0 auto;
background-color: blue;
border: 2px solid rgb(156, 156, 156);
border-radius: 10px;
}

.btn:hover {
  transition: 1s;
  width: 120px;
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  border-radius: 15px;
  border: 2px solid rgb(156, 156, 156);
  margin-top: 50px;
  margin-bottom: 50px;

}

.pokemon h1 {
  text-align: center;
  background-color: rgb(204, 202, 198);
  padding: 10px;
  border-radius: 50px;
}

.pokemon img {
  margin: 0 auto;
}

.title {
  width: 250px;
  margin: 50px auto 0;
  padding: 20px;
  border-radius: 15px;
  background-color: blue;
  text-align: center;
  color: white;
}