body {
  margin: 0;
  background-color: rgb(231, 231, 129);
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
}

.pokemon {
  background-color: aliceblue;
  border-radius: 15px;
  border: 2px solid blue;
  margin: 25px;
  padding: 20px;
}

.pokemon h1 {
  text-align: center;
  background-color: rgb(204, 202, 198);
  padding: 10px;
  border-radius: 50px;
}

.pokemon img {
  margin: 0 auto;
}

.title {
  width: 250px;
  margin: 50px auto 0;
  padding: 20px;
  border-radius: 15px;
  background-color: blue;
  text-align: center;
  color: white;
}