body{
    background-color: thistle;
    font-family: monospace;
}
h1{
    text-align: center;
    margin: 15px;
    padding: 15px;
    background-color: blueviolet;
    border-style: double;
    border-radius: 20px;

}

.primaria{
    background-color: blue;
    font-style: italic;
}
.secundaria{
    background-color: blueviolet;
}
.complementar{
    background-color: fuchsia;
    font-size: xx-large;
    padding: 50px;
    font-style: italic;
    
}
.escura{
    background-color: darkred;
}

.clara{
    background-color: lightsalmon;
    font-style: italic;
}

h3{
    text-align: center;
    padding: 20px;
    margin: 30px;
}
div:hover{
    border-style:solid;
    border-radius: 50px;
    margin: 30px;
}

p{
    text-align: center;
    font-size: xx-large;
    font-weight: 600;

}